.banner-img{
    background-image: url(../../assets/loginBackgroundImage.png);
    background-repeat: repeat;
    height: 105vh;
    /* filter: blur(2px); */
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.307);
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
}

.ani-container{
    /* display: inline-block; */
    width: -50vw;
}

.animation{
    border-right:white 2px solid;
    width: 50vw;
    /* margin-right: 60vw; */
    /* white-space: noWrap; */
    /* overflow: hidden; */
    animation: typing 2s steps(115), cursor .4s step-end infinite alternate;
}

/* cursor blink */
@keyframes cursor {
    50%{border-color : transparent}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

.business-name{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-side{
    background-image: linear-gradient(to right, rgb(17, 1, 63) , rgb(24, 1, 96));
    width: 37vw;
    height: 83vh;
    /* margin-top:2vh; */
    /* margin-left: 8vw; */
    border-radius: 100px;
    box-shadow: 5px 00px 5px 5px rgba(0, 0, 0, 0.29);
}

.right-side{
    background-image: linear-gradient(to right, rgb(43, 0, 43) , rgb(72, 0, 72));
    width: 40vw;
    height: 83vh;
    /* margin-top: 2vh; */
    /* margin-left: 20px; */
    border-radius: 100px;
    box-shadow: 5px 00px 5px 5px rgba(0, 0, 0, 0.29);
}

.login-content{
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-data input{
    background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
}

label{
    color: rgb(105, 105, 105);
}

.parprphalign{
    text-align:justify;
}

.popups{
    width: 10%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    padding: 10px
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff63;
    border-color: #007bff63;
}

.transparent-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: #02244a;
  text-decoration: underline;
  font-size: x-large;
  padding: 8px 16px;
  cursor: pointer;
}


