.banner-img{
    background-image: url(../../assets/loginBackgroundImage.png);
    background-repeat: repeat;
    height: 100vh;
    /* filter: blur(2px); */
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.307);
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
}

.ani-container{
    /* display: inline-block; */
    width: -50vw;
}

.animation{
    border-right:white 2px solid;
    width: 50vw;
    /* margin-right: 60vw; */
    /* white-space: noWrap; */
    /* overflow: hidden; */
    animation: typing 2s steps(115), cursor .4s step-end infinite alternate;
}

/* cursor blink */
@keyframes cursor {
    50%{border-color : transparent}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

.business-name{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-side{
    background-image: linear-gradient(to right, rgb(17, 1, 63) , rgb(24, 1, 96));
    width: 37vw;
    height: 73vh;
    margin-top: 20vh;
    /* margin-left: 8vw; */
    border-radius: 100px;
    box-shadow: 5px 00px 5px 5px rgba(0, 0, 0, 0.29);
}

.right-side{
    background-image: linear-gradient(to right, rgb(43, 0, 43) , rgb(72, 0, 72));
    width: 40vw;
    height: 73vh;
    margin-top: 20vh;
    /* margin-left: 20px; */
    border-radius: 100px;
    box-shadow: 5px 00px 5px 5px rgba(0, 0, 0, 0.29);
}

.login-content{
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-data input{
    background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
}

label{
    color: aliceblue;
}



