.background-navbar{
    background-image: linear-gradient(to right, rgb(17, 1, 63) , rgb(43, 0, 43)) !important;
    z-index: 1000;
    
}

a{
    text-decoration: none;
}

.content_area {
    height: 100%;
    overflow-y: auto;
    /* padding: 10px; */
}

.main-container {
    height: calc(100vh - 50px); 
    display: flex;
}

.navbarText{
    font-size: x-large;
    color: aliceblue;
}

.sideBar{
    background-image: linear-gradient(to bottom, rgb(17, 1, 63) , rgb(43, 0, 43)) !important;
    height: 100%;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.sideBarText{
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    border: none;
    font-size: medium;
    cursor: pointer;
    text-align: start;
}

.red_background{
    background-color: #ef4444;
}

.selected_fontColor{
    color: aliceblue;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 125%;
    cursor: pointer;
    text-align: start;
    margin-left: 5%;
    font-weight: bolder;
}

.option{
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 100%;
    cursor: pointer;
    text-align: start;
    margin-left: 5%;
    font-weight: bolder;
}

.border-right-color-black{
    border-right: 2px solid black;
}

.profile-picture{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-preveiw{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 14vw;
}

.profile-picture-preveiw img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures the image fills the circle without distortion */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures the image fills the circle without distortion */
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.eplise{
    white-space: nowrap; 
    width: 50%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltipContent{
    line-height: 15px;
}