<div *ngIf="isLoading" class="loading">
    <img src="../../assets/giphy.gif" alt="" srcset="" class="lodingGif">
</div>

<div *ngIf="!isLoading">
    <div class="grid mt-6" *ngIf="isActionAllowed(1)">
        <div class="col-6 pl-6 pr-6">
            <form  [formGroup]="selectedDataForm">
                <p-dropdown  [options]="allStudents" [style]="{'width':'100%'}" formControlName="student" [filter]="true" filterBy="scode"  [showClear]="true" placeholder="Select Student" optionLabel="scode" optionValue="scode" (onChange)="getCourses()">
                    <ng-template let-student pTemplate="item">
                        {{ student.scode }} - {{student.fullName}}
                    </ng-template>
                </p-dropdown>
            </form>
        </div>
        <div class="col-6 pl-6 pr-6" *ngIf="isCourseDropdownVisible">
            <form  [formGroup]="selectedDataForm">
                <p-multiSelect [options]="dropdownCourses" formControlName="course" [style]="{width: '100%'}" optionLabel="code" appendTo="body" placeholder="Select Courses" (onPanelHide)="getClassFees()">
                    <ng-template let-course pTemplate="item">
                        ({{ course.code }}) - {{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}
                    </ng-template>
                </p-multiSelect>
                <!-- <p-dropdown  [options]="dropdownCourses" [style]="{'width':'100%'}" formControlName="course" [filter]="true" filterBy="code"  [showClear]="true" placeholder="Select Course" optionLabel="code" optionValue="code"  (onChange)="getClassFees()">
                    <ng-template let-course pTemplate="item">
                        ({{ course.code }}) - {{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}
                    </ng-template>
                </p-dropdown> -->
            </form>
        </div>
    </div>
    <!-- <div class="grid mt-6" *ngIf="isCourseDropdownVisible">
        <div class="col-12 pl-6 pr-6">
            <form  [formGroup]="selectedDataForm">
                <p-dropdown  [options]="dropdownCourses" [style]="{'width':'100%'}" formControlName="course" [filter]="true" filterBy="code"  [showClear]="true" placeholder="Select Course" optionLabel="code" optionValue="code"  (onChange)="getClassFees()">
                    <ng-template let-course pTemplate="item">
                        ({{ course.code }}) - {{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}
                    </ng-template>
                </p-dropdown>
            </form>
        </div>
    </div> -->
    <div class="grid mt-4 ml-4 mr-4" *ngIf="updatedCourses.length>0 && isActionAllowed(7)">
        <div class="col-6"></div>
        <div class="col-2">
            <div class="grid">
                <div class="col-1">
                    <div class="div_size black_background"></div>
                </div>
                <div class="col-11 gap">Not Attend</div>
            </div>
             
        </div>
        <div class="col-2">
            <div class="grid">
                <div class="col-1">
                    <div class="div_size green_background"></div>
                </div>
                <div class="col-11">Payed Month</div>
            </div>
             
        </div>
        <div class="col-2">
            <div class="grid">
                <div class="col-1">
                    <div class="div_size red_background"></div>
                </div>
                <div class="col-11">Arrears Month</div>
            </div>
             
        </div>
    </div>
    <div *ngIf="updatedCourses.length>0 && isActionAllowed(7)">
        <div class="grid mt-4 ml-4 mr-4" *ngFor="let course of updatedCourses">
            <div class="col-12">
                ({{ course.code }}) - {{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}
            </div>
            <div class="col-1 border-solid border-color selectable" *ngFor="let month of months" [class]="setClass(course , month)" (click)="isMonthSelectableForPayment(course , month) && selectPyingMonths(month , course)">{{month.name}}</div>
        </div>
    </div>
    <div *ngIf="payingCourseWiseMonths.length>0" class="mt-4">
        <p class="line">&nbsp;</p>
    </div>
    <div *ngIf="payingCourseWiseMonths.length>0 && isActionAllowed(1)">
        <div class="grid mt-4 ml-4 mr-4" *ngFor="let payingCourseWiseMonth of payingCourseWiseMonths">
            <div class="col-12" *ngIf="payingCourseWiseMonth.months && payingCourseWiseMonth.months?.length">
                ({{ payingCourseWiseMonth.course?.code }}) - {{payingCourseWiseMonth.course?.teacher?.fullName}}'s {{payingCourseWiseMonth.course?.grade?.name}} {{payingCourseWiseMonth.course?.date}} {{payingCourseWiseMonth.course?.subject?.name}} Class at {{payingCourseWiseMonth.course?.startTime}}
            </div>
            <div class="col-1 border-solid border-color" *ngFor="let month of payingCourseWiseMonth.months">{{month.name}} &nbsp; <i class="fa-solid fa-xmark" style="color: #ff0000;" (click)="removeFromPayingList(payingCourseWiseMonth, month)"></i></div>
        </div>
    </div>

    <div class="grid mt-6" *ngIf="payingCourseWiseMonths.length>0 && isActionAllowed(1)">
        <div class="col-10"></div>
        <div class="col-2">
            <button label="Pay Class Fee" pButton (click)="openMakePaymentPopup()"></button>
        </div>
    </div>

    <p-dialog [(visible)]="isMakePaymentPopupOpen" [style]="{width: '50vw'}" [modal]="true" (onHide)="closeClassFeePaymentsPopup()">
        <p-steps [model]="steps" [readonly]="true" [(activeIndex)]="activeStepIndex"></p-steps>
        <div *ngIf="activeStepIndex == 0">
            <div class="grid mt-4">
                <div class="col-4 centerText"><h5>Course Name</h5></div>
                <div class="col-4 centerText"><h5>Month</h5></div>
                <div class="col-4 centerText"><h5>Amount</h5></div>
            </div>

            <div class="grid" *ngFor="let payingCourseWiseMonth of payingCourseWiseMonths">
                <div class="col-12">
                    <div class="grid  mt-4" *ngFor="let month of payingCourseWiseMonth.months">
                        <div class="col-4 centerText">
                            ({{ payingCourseWiseMonth.course?.code }}) - {{payingCourseWiseMonth.course?.teacher?.fullName}}'s {{payingCourseWiseMonth.course?.grade?.name}} {{payingCourseWiseMonth.course?.date}} {{payingCourseWiseMonth.course?.subject?.name}} Class at {{payingCourseWiseMonth.course?.startTime}}
                        </div>
                        <div class="col-4 centerText">{{month.name}}</div>
                        <div class="col-4 centerText">{{payingCourseWiseMonth.course?.classFeeAmount}}</div>
                    </div>
                </div>
            </div>

            <div class="grid mt-6">
                <div class="col-8 centerText"><h4>Total</h4></div>
                <div class="col-4 centerText underline"><h4>{{findTotalAmount()}}</h4></div>
            </div>

            <div class="grid mt-6" *ngIf="!(userCode.startsWith('S'))">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="grid" [formGroup]="payingMethodForm">
                        <div class="col-6">
                            <label for="payByCard">Pay By Card</label><br><br>
                            <p-radioButton value=1 inputId="payByCard" formControlName="method"></p-radioButton>
                        </div>
                        <div class="col-6">
                            <label for="payByCash">Pay By Cash</label><br><br>
                            <p-radioButton value=2 inputId="payByCash" formControlName="method"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>

            <div class="grid mt-6" *ngIf="getPayingMethod.value == 1 || userCode.startsWith('S')" [formGroup]="cardDetailsForm">
                <div class="col-12">
                    <div class="grid">
                        <div class="col-12">
                            <h3>Card Payement</h3>
                        </div>
                    </div>
                    <div class="grid mt-3">
                        <div class="col-3">
                            <input type="text" appNumeric formControlName="firstFourDigit" pInputText class="inputsStyle" placeholder="XXXX" maxlength="4">
                        </div>
                        <div class="col-3">
                            <input type="text" appNumeric formControlName="secondFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                        </div>
                        <div class="col-3">
                            <input type="text" appNumeric formControlName="thirdhFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                        </div>
                        <div class="col-3">
                            <input type="text" appNumeric formControlName="fourthFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                        </div>
                    </div>
                    <div class="grid mt-3">
                        <div class="col-4">
                            <p-calendar view="month" formControlName="expirDate" dateFormat="mm/yy" [readonlyInput]="true" placeholder="mm/yy"/>
                        </div>
                        <div class="col-5"></div>
                        <div class="col-3">
                            <input type="text" formControlName="CVC" pInputText class="inputsStyle" id="title"   placeholder="CV Code" maxlength="3">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="grid mt-6"  *ngIf="getPayingMethod.value == 1 || userCode.startsWith('S')">
                <div class="col-9"></div>
                <div class="col-3">
                    <button pButton class="p-button-primary" (click)="proceddPayment()"  [disabled]="!(cardDetailsForm.valid)">Save and Next</button>
                </div>
            </div>

            <div class="grid mt-6"  *ngIf="getPayingMethod.value == 2">
                <div class="col-3"></div>
                <div class="col-3" [formGroup]="classFeeForm">
                    <p-checkbox formControlName="hasPaymentDone" [binary]="true" value="true" inputId="payed"></p-checkbox>
                    <label for="payed">&nbsp; &nbsp; IS Payment Payed?</label>
                </div>
                <div class="col-3">
                    <button pButton class="p-button-primary" (click)="proceddPayment()"  [disabled]="!(getHasPaymentDone.value)">Save and Next</button>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <div *ngIf="activeStepIndex == 1" class="mt-6">
            <app-recipt-template [reciptTemplateDataVM]="reciptTemplateData"></app-recipt-template>
        </div>
    </p-dialog>
</div>
