<div *ngIf="!isLoading">
    <p-toast></p-toast>
    <div class="grid pt-4 pl-3">
        <div class="col-4" *ngIf="isActionAllowed(3)">
            <div [formGroup]="selectAction">
                <label for="searchAction">Search A Grade</label><br><br>
                <p-radioButton value=1 inputId="searchAction" formControlName="action" (click)="loadTheContent()"></p-radioButton>
            </div>
        </div>
        <div class="col-4" *ngIf="isActionAllowed(1)">
            <div [formGroup]="selectAction">
                <label for="createAction">Create A Grade</label><br><br>
                <p-radioButton value=2 inputId="createAction" formControlName="action" (click)="loadTheContent()"></p-radioButton>
            </div>
        </div>
        <div class="col-4">
            <button label="Create A Grade" pButton *ngIf="action === 2" (click)="openGradeForm(true)"></button>
            <div class="grid pt-4" *ngIf="action == 1">
                <div class="col-8 p-float-label" [formGroup]="searchForm">
                    <input type="text" pInputText class="inputsStyle" id="searchValue" formControlName="searchValue"> 
                    <label For="searchValue"> &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass"></i>&nbsp; &nbsp;Search A Grade</label>
                </div>
                <div class="col-4">
                    <button label="Search" pButton (click)="searchGrade()"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid mt-6" *ngIf="isActionAllowed(7)">
        <div class="col-12">
            <p-table  [value]="tableGrades" class="centerText" [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template pTemplate="header">
                    <th>Grade Code</th>
                    <th>Grade</th>
                    <th *ngIf="isActionAllowed(2) || isActionAllowed(4)">Action</th>
                </ng-template>

                <ng-template pTemplate="body" let-gradeData>
                    <tr>
                        <td class="centerText">{{gradeData.code}}</td>
                        <td class="centerText">{{gradeData.name}}</td>
                        <td class="centerText"> <i class="fa-solid fa-pen-to-square" (click)="openUpdateForm(gradeData)" *ngIf="isActionAllowed(2)"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-trash delete-color" (click)="deleteGrade(gradeData)" *ngIf="isActionAllowed(4)"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="grid">
        <div class="col-11"></div>
        <div class="col-1">
            <button pButton class="p-button-secondary" (click)="reset()">Reset</button>
        </div>
    </div>
    <p-confirmDialog header="Delete Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}"></p-confirmDialog>
</div>

<p-dialog header="Grade Creation Form" [(visible)]="isGradeFormVisible" [style]="{width: '50vw'}" [modal]="true" (onHide)="closeGradeCreationPopup()">
    <div class="grid">
        <div class="col-10"></div>
        <div class="col-2">
            <span class="Requied ">* </span> <b> Requied</b> 
        </div>
    </div><br>
    
    <form [formGroup]="gradeCreationForm">
        <div class="grid">
            <div class="col-12 p-float-label">
                <input type="text" appCapitalizeEachWord pInputText class="inputsStyle" id="gradeName" formControlName="name">
                <label For="gradeName"><span class="Requied ">* </span>Grade Name</label>
            </div>
        </div>
        <div class="grid mt-4">
            <div class="col-1"></div>
            <div class="col-9"></div>
            <div class="col-2">
                <button label="Submit" pButton class="p-button-success" [disabled]="!gradeCreationForm.valid" (click)="submitClick()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Grade Update Form" [(visible)]="isGradeUpdateFormVisible" [style]="{width: '50vw'}" [modal]="true" (onHide)="closeGradeUpdatePopup()">
    <div class="grid">
        <div class="col-10"></div>
        <div class="col-2">
            <span class="Requied ">* </span> <b> Requied</b> 
        </div>
    </div><br>
    
    <form [formGroup]="gradeUpdateForm">
        <div class="grid">
            <div class="col-12 p-float-label">
                <input type="text" appCapitalizeEachWord pInputText class="inputsStyle" id="gradeName" formControlName="name">
                <label For="gradeName"><span class="Requied ">* </span>Grade Name</label>
            </div>
        </div>
        <div class="grid mt-4">
            <div class="col-1"></div>
            <div class="col-9"></div>
            <div class="col-2">
                <button label="Update" pButton class="p-button-success" [disabled]="!gradeUpdateForm.valid" (click)="updateClick()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<div *ngIf="isLoading" class="loading">
    <img src="../../assets/giphy.gif" alt="" srcset="" class="lodingGif">
</div>