<div *ngIf="isLoading" class="loading">
    <img src="../../assets/giphy.gif" alt="" srcset="" class="lodingGif">
</div>

<div *ngIf="!isLoading">
    <p-toast></p-toast>
    <div class="grid pt-5">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="grid">
                <div class="col-8" [formGroup]="searchForm">
                    <p-multiSelect [options]="allCourses" formControlName="courses" [style]="{width: '100%'}" optionLabel="code" appendTo="body" placeholder="Select Courses">
                        <ng-template let-course pTemplate="item">
                            ({{ course.code }}) - {{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="col-4">
                    <button label="Search" pButton (click)="searchEnrolment()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid pt-5">
        <div class="col-6">
            <div class="grid p-5" *ngFor="let course of leftSideCourses">
                <div class="col-12"  *ngIf="isActionAllowed(7)">
                    <p-table class="centerText" [value]="filterByCourse(course)" [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]">
                        <ng-template pTemplate="caption">
                            <div class="grid">
                                <div class="col-2">
                                    <h6>
                                        [{{course.code}}]
                                    </h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}</h6>
                                </div>
                                <div class="col-2"  *ngIf="isActionAllowed(1)">
                                    <i class="fa-solid fa-plus" (click)="openEnrolDialog(course)"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SCode</th>
                                <th>Student Name</th>
                                <th>Enrolled Date</th>
                                <th *ngIf="isActionAllowed(4)">Action</th>
                                <th *ngIf="!isActionAllowed(4)"></th>
                            </tr>
                            <tr>
                                
                            </tr>
                        </ng-template>
                        <ng-template  pTemplate="body" let-studentCourse>
                            <tr>
                                <td class="centerText">{{studentCourse?.student?.scode}}</td>
                                <td class="centerText">{{studentCourse?.student?.callingName}}</td>
                                <td class="centerText">{{getEnrolledDate(studentCourse.enrolledDate)}}</td>
                                <td class="centerText"><i class="fa-solid fa-trash delete-color" (click)="deleteCourse(studentCourse , course)" *ngIf="isActionAllowed(4)"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="grid p-5" *ngFor="let course of rightSideCourses">
                <div class="col-12" *ngIf="isActionAllowed(7)">
                    <p-table class="centerText" [value]="filterByCourse(course)" [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]">
                        <ng-template pTemplate="caption">
                            <div class="grid">
                                <div class="col-2">
                                    <h6>
                                        [{{course.code}}]
                                    </h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{course.teacher.fullName}}'s {{course.grade.name}} {{course.date}} {{course.subject.name}} Class at {{course.startTime}}</h6>
                                </div>
                                <div class="col-2">
                                    <i class="fa-solid fa-plus" (click)="openEnrolDialog(course)" *ngIf="isActionAllowed(1)"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SCode</th>
                                <th>Student Name</th>
                                <th>Enrolled Date</th>
                                <th *ngIf="isActionAllowed(4)">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template  pTemplate="body" let-studentCourse>
                            <tr>
                                <td class="centerText">{{studentCourse?.student?.scode}}</td>
                                <td class="centerText">{{studentCourse?.student?.callingName}}</td>
                                <td class="centerText">{{getEnrolledDate(studentCourse?.enrolledDate)}}</td>
                                <td class="centerText"><i class="fa-solid fa-trash delete-color" (click)="deleteCourse(studentCourse , course)" *ngIf="isActionAllowed(4)"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        
        <p-confirmDialog header="Delete Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}"></p-confirmDialog>
        <p-dialog header="Student Enrol Form" [(visible)]="isEnrolDialogVisible" [style]="{width: '50vw'}" [modal]="true" (onHide)="closeCourseCreationPopup()">
            <p-steps [model]="steps" [readonly]="true" [(activeIndex)]="activeStepIndex"></p-steps>
            <!-- student enrolment form -->
            <form [formGroup]="enrolmentForm" class="mt-4" *ngIf="activeStepIndex == 0">
                <div class="grid pt-5">
                    <div class="col-8 p-float-label">
                        <input type="text" pInputText class="inputsStyle" id="occupation" formControlName="scode">
                        <label for="occupation">Enter Student Code</label>
                    </div>
                    <div class="col-4">
                        <button label="Enroll" pButton class="p-button-primary" [disabled]="!getScode.value" (click)="searchStudent()"></button>
                    </div>
                </div>
    
                <div class="grid pt-5">
                    <div class="col-12">
                        <p-table class="centerText" [value]="courseStudent" [tableStyle]="{ 'min-width': '100%' }">
                            <ng-template pTemplate="header">
                                <th>Course Code</th>
                                <th>Student Code</th>
                                <th>Student Name</th>
                                <th>Remove</th>
                            </ng-template>
                            <ng-template  pTemplate="body" let-courseStudent>
                                <tr>
                                    <td class="centerText">{{courseStudent.course.code}}</td>
                                    <td class="centerText">{{courseStudent.student.scode}}</td>
                                    <td class="centerText">{{courseStudent.student.callingName}}</td>
                                    <td class="centerText">
                                        <!-- <i class="fa-solid fa-xmark" (click)="removeCourse(enrolledCourses)"></i> -->
                                        <i class="fa-solid fa-circle-xmark fa-xl " style="color: #ff0000;" (click)="removeCourseStudent(courseStudent)"></i>
                                        <!-- <button pButton class="p-button-danger" (click)="removeCourse(enrolledCourses)">Remove Class</button> -->
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="grid pt-4" *ngIf="courseStudent && courseStudent.length > 0">
                            <div class="col-10"></div>
                            <div class="col-2">
                                <button pButton class="p-button-success" (click)="next()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div *ngIf="isStudentGetting" class="loading">
                    <img src="../../assets/giphy.gif" alt="" srcset="" class="lodingGif">
                </div>
            </form>
            
            <!-- student class fee payment details -->
            <div class="grid pt-5" *ngIf="activeStepIndex == 1">
                <div class="col-2"></div>
                <div class="col-8" >
                    <!-- {{enrolCorseDTO | json}} -->
                    <div class="grid">
                        <div class="col-8">
                            <h6>{{enrolingCourse?.grade?.name}} &nbsp; {{enrolingCourse?.teacher?.fullName}} &nbsp; {{enrolingCourse?.subject?.name}} class</h6>
                        </div>
                        <div class="col-4">
                            <h6>{{enrolingCourse?.classFeeAmount}}</h6>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-8">
                            <h5>Total</h5>
                        </div>
                        <div class="col-4">
                            <h5>{{enrolingCourse?.classFeeAmount}}</h5>
                        </div>
                    </div><br>

                    <div class="grid mt-6">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="grid" [formGroup]="payingMethodForm">
                                <div class="col-6">
                                    <label for="payByCard">Pay By Card</label><br><br>
                                    <p-radioButton value=1 inputId="payByCard" formControlName="method"></p-radioButton>
                                </div>
                                <div class="col-6">
                                    <label for="payByCash">Pay By Cash</label><br><br>
                                    <p-radioButton value=2 inputId="payByCash" formControlName="method"></p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>

                    <div class="grid mt-6" *ngIf="getPayingMethod.value == 1" [formGroup]="cardDetailsForm">
                        <div class="col-12">
                            <div class="grid">
                                <div class="col-12">
                                    <h3>Card Payement</h3>
                                </div>
                            </div>
                            <div class="grid mt-3">
                                <div class="col-3">
                                    <input type="text" appNumeric formControlName="firstFourDigit" pInputText class="inputsStyle" placeholder="XXXX" maxlength="4">
                                </div>
                                <div class="col-3">
                                    <input type="text" appNumeric formControlName="secondFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                                </div>
                                <div class="col-3">
                                    <input type="text" appNumeric formControlName="thirdhFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                                </div>
                                <div class="col-3">
                                    <input type="text" appNumeric formControlName="fourthFourDigit" pInputText class="inputsStyle" id="title"   placeholder="XXXX" maxlength="4">
                                </div>
                            </div>
                            <div class="grid mt-3">
                                <div class="col-4">
                                    <p-calendar view="month" formControlName="expirDate" dateFormat="mm/yy" [readonlyInput]="true" placeholder="mm/yy"></p-calendar>
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <input type="text" formControlName="CVC" pInputText class="inputsStyle" id="title"  maxlength="3" placeholder="CV Code">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid mt-6"  *ngIf="getPayingMethod.value == 1 ">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button pButton class="p-button-success" (click)="enrollCourses()"  [disabled]="!(cardDetailsForm.valid)">Save and Next</button>
                        </div>
                    </div>

                    <div class="grid"  *ngIf="getPayingMethod.value == 2">
                        <div class="col-6" [formGroup]="classFeeForm">
                            <p-checkbox formControlName="hasPaymentDone" [binary]="true" value="true" inputId="payed"></p-checkbox>
                            <label for="payed">&nbsp; &nbsp; IS Payment Payed?</label>
                        </div>
                        <div class="col-6">
                            <button pButton class="p-button-success" (click)="enrollCourses()" [disabled]="!(getHasPaymentDone.value)">Save and Next</button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
    
            <!-- payement recipt -->
            <div *ngIf="activeStepIndex == 2">
                <div class="grid pt-5" >
                    <app-recipt-template [reciptTemplateDataVM]="reciptTemplateData"></app-recipt-template>
                </div>
        
                <div class="grid pt-5">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button pButton class="p-button-info" (click)="closeCourseCreationPopup()">Finish</button>
                    </div>
                </div>
            </div>
    
        </p-dialog>
    </div>

    <div class="grid" *ngIf="isSearched">
        <div class="col-11"></div>
        <div class="col-1">
            <button pButton class="p-button-secondary" (click)="reset()">Reset</button>
        </div>
    </div>
</div>

