
::ng-deep .student-card .p-card {
    background-color: rgb(0, 208, 255);
    height: 21vh;
}

::ng-deep .course-card .p-card {
    background-color: rgb(0, 255, 72);
    height: 21vh;
}

::ng-deep .teacher-card .p-card {
    background-color: rgb(255, 149, 0);
    height: 21vh;
}

::ng-deep .canceled-card .p-card {
    background-color: rgb(255, 0, 0);
}

.iconsize{
    font-size: 550%;
    margin-left: 15vw;
    margin-top: -10vh;
    color: rgba(0, 0, 0, 0.466);
}

.iconsizestudent{
    font-size: 450%;
    margin-left: 15vw;
    margin-top: -5.5vh;
    color: rgba(0, 0, 0, 0.466);
}

.iconsizeForTeacher{
    font-size: 550%;
    margin-left: 30vw;
    margin-top: -10vh;
    color: rgba(0, 0, 0, 0.466);
}

.cardfont{
    font-size: 50px;
    font-weight: bolder;
}

.print-icon{
    text-align: left;
}
