<div class="grid">
    <div class="col-10"></div>
    <div class="col-2">
        <button pButton class="p-button-primary" (click)="generatePDF()">Download and Send</button>
    </div>
</div>

<div class="receipt-container p-mt-5 p-p-3">
    <div class="receipt-header p-d-flex p-flex-column p-ai-center">
      <img class="logo" src="../../favicon.ico" alt="logo">
      <h1>Rapid Institute</h1>
      <p>No - 45</p>
      <p>Bandaragama</p>
      <p>Phone: (077) 883-8787</p>
    </div>
    
    <div class="customer-details p-d-flex p-jc-between p-mb-4">
      <div>
        <h4>{{reciptTemplateDataVM?.resiptNumber}}</h4>
        <p>Date: {{ today | date }}</p>
      </div>
      <div class="mt-3">
        <h4>Student Details</h4>
        <p>{{reciptTemplateDataVM?.student?.fullName}}</p>
        <p>{{reciptTemplateDataVM?.student?.address?.houseNo}},{{reciptTemplateDataVM?.student?.address?.lane ? reciptTemplateDataVM?.student?.address?.lane + ',' : ''}}</p>
        <p>{{reciptTemplateDataVM?.student?.address?.city}} , {{reciptTemplateDataVM?.student?.address?.district}}</p>
      </div>
    </div>
  
    <p-table [value]="courseWiseMonths" class="p-mb-4">
      <ng-template pTemplate="header">
        <tr>
          <th>Course</th>
          <th>Months</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-courseMonth>
        <tr>
          <td>{{courseMonth.courseName}}</td>
          <td>
            <div *ngFor="let month of courseMonth.months">{{month.name}} &nbsp;</div>
          </td>
          <td>{{courseMonth.courseAmount}}</td>
          <td>{{courseMonth.courseAmount * courseMonth.months.length}}</td>
        </tr>
      </ng-template>
    </p-table>
  
    <div class="totals p-d-flex p-jc-end p-mt-4">
      <div class="p-d-flex p-flex-column">
        <div class="p-d-flex p-jc-between">
          <strong>Total:</strong>
          <strong>{{ reciptTemplateDataVM?.subTotal }}</strong>
        </div>
      </div>
    </div>
</div>